<div class="container-lg">
  <h1>External Testing Result [Enhanced]</h1>
  <h4 class="mt-4">Полная история обновлений:</h4>
</div>

<div class="container-lg table-w-90 table-container">
  <table class="table   caption-top">
    <thead>
      <tr>
        <th scope="col">Дата</th>
        <th scope="col">Что сделано</th>
        <th scope="col">Кто работал</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>03.03.2024</td>
        <td>
          <ul>
            <li>Исправление некоторых багов</li>
          </ul>
        </td>
        <td>Александр</td>
      </tr>
      <tr>
        <td>26.02.2024</td>
        <td>
          <ul>
            <li>Новый header</li>
            <li>Страница с деревом задач</li>
          </ul>
        </td>
        <td>Александр</td>
      </tr>
      <tr>
        <td>04.02.2024</td>
        <td>
          <ul>
            <li>Косметические изменения, небольшой багфикс.</li>
          </ul>
        <td>Андрей</td>
      </tr>  
      <tr>
        <td>03.02.2024</td>
        <td>
          <ul>
            <b>Все таблицы:</b>
            <li>Уменьшен шрифт</li>
            <b>Просмотр контеста:</b>
            <li>Теперь индексы у таблицы статичны и начинаются с еденицы</li>
            <li>Если API etr не дал баллы за отправленные задачи, то они запрашиваются у API CF</li>
            <li>Фильтры по типу участника</li>
            <li>Переключатель: баллы / попытки</li>
            <li>У участников также теперь есть колонки Город, Организация и Класс</li>
            <li>Переработан способ отображения команды в таблице</li>
          </ul>
        <td>Андрей</td>
      </tr>  
      <tr>
        <td>15.01.2024</td>
        <td>
          <ul>
            <li>Переделаны таблицы: теперь они и нормально копируются, и работает фильтры, и имеют ссылки у строк. <br> Их внешний вид почти не поменялся.</li>
          </ul>
        <td>Андрей</td>
      </tr>  
      <tr>
        <td>13.01.2024</td>
        <td>
          <ul>
            <li>Переработан компонент таблицы. Внешне он выглядит так же.</li>
            <li>Добавлена возможность изменить некоторые поля пользователя.</li>
          </ul>
        <td>Андрей</td>
      </tr>  
      <tr>
        <td>09.01.2024</td>
        <td>
          <ul>
            <li>На странице с задачами сделана фильтрация по тегам и по индексам. Пока надо её немного упростить, чтобы добавить её ещё где-то, но в целом всё работает.</li>
          </ul>
        <td>Андрей</td>
      </tr>  
      <tr>
        <td>08.01.2024</td>
        <td>
          <ul>
            <li>На странице с задачами сделана фильтрация по тегам.</li>
          </ul>
        <td>Андрей</td>
      </tr>  
      <tr>
        <td>07.01.2024</td>
        <td>
          <ul>
            <li>Изменены ссылки на странице "Задачи", теперь они работают как обычные ссылки, с возможностью как перехода по ней в этой же вкладке, так и открытия её в другой</li>
          </ul>
        <td>Андрей</td>
      </tr>
      <tr>
        <td>06.01.2024</td>
        <td>
          <ul>
            <li>Исправлена ошибка которая появлялась при обновлении страницы на дочерних страницах</li>
            <li>Теперь страница с задачами правильно работает и открывает в новой вкладке задачу на Codeforces</li>
            <li>Частично закомментировали код, добавили в Readme.md краткие сведения по устройству проекта</li>
            <li>Убрали с главной страницы раздел последних обновлений</li>
          </ul>
        </td>
        <td>Вадим, Александр, Андрей</td>
      </tr>
      <tr>
        <td>21.12.2023</td>
        <td>
          <ul>
            <li>Совершили перенос таблиц из раздела ученики, контесты и задачи на отдельный компонент</li>
            <li>Добавили страницу About</li>
            <li>Нажатие на задачу теперь открывает её на codeforces(работало некорректно)</li>
            <li>На главной странице теперь есть подраздел Последнее обновление</li>
          </ul>
        </td>
        <td>Вадим, Александр, Андрей</td>
      </tr>
      <tr>
        <td>17.12.2023</td>
        <td>
          <ul>
            <li>Добавление раздела задач</li>
            <li>Для контестов сделана фильтрация на Контесты и Тренировки</li>
            <li>Сделан раздел Добавить ученика(в ожидании api)</li>
            <li>Сделан раздел Добавить контест(в ожидании api)</li>
            <li>Добавление кнопок синхронизации и обновления данных с CF(в ожидании исправления api)</li>
            <li>Добавлена фильтрация по всем</li>
          </ul>
        </td>
        <td>Вадим, Александр, Андрей</td>
      </tr>
      <tr class="last-table-row"></tr>
    </tbody>
  </table>
</div>