<div class="container-lg">
  <h1>External Testing Result [Enhanced]</h1>
  <h4 class="mt-4">Полная история обновлений:</h4>
</div>

<div class="container-lg table-w-90 table-container">
  <table class="table   caption-top">
    <thead>
      <tr>
        <th scope="col">Дата</th>
        <th scope="col">Что сделано</th>
        <th scope="col">Кто работал</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>07.01.2024</td>
        <td>
          <ul>
            <li>Изменил ссылки на странице задачи, теперь они работают как обычные ссылки, с возможностью как перехода по ней в этой же вкладке, так и открытия её в другой</li>
          </ul>
        </td>
        <td>Андрей</td>
      </tr>
      <tr>
        <td>06.01.2024</td>
        <td>
          <ul>
            <li>Исправлена ошибка которая появлялась при обновлении страницы на дочерних страницах</li>
            <li>Теперь страница с задачами правильно работает и открывает в новой вкладке задачу на Codeforces</li>
            <li>Частично закомментировали код, добавили в Readme.md краткие сведения по устройству проекта</li>
            <li>Убрали с главной страницы раздел последних обновлений</li>
          </ul>
        </td>
        <td>Вадим, Александр, Андрей</td>
      </tr>
      <tr>
        <td>21.12.2023</td>
        <td>
          <ul>
            <li>Совершили перенос таблиц из раздела ученики, контесты и задачи на отдельный компонент</li>
            <li>Добавили страницу About</li>
            <li>Нажатие на задачу теперь открывает её на codeforces(работало некорректно)</li>
            <li>На главной странице теперь есть подраздел Последнее обновление</li>
          </ul>
        </td>
        <td>Вадим, Александр, Андрей</td>
      </tr>
      <tr>
        <td>17.12.2023</td>
        <td>
          <ul>
            <li>Добавление раздела задач</li>
            <li>Для контестов сделана фильтрация на Контесты и Тренировки</li>
            <li>Сделан раздел Добавить ученика(в ожидании api)</li>
            <li>Сделан раздел Добавить контест(в ожидании api)</li>
            <li>Добавление кнопок синхронизации и обновления данных с CF(в ожидании исправления api)</li>
            <li>Добавлена фильтрация по всем</li>
          </ul>
        </td>
        <td>Вадим, Александр, Андрей</td>
      </tr>
      <tr class="last-table-row"></tr>
    </tbody>
  </table>
</div>