<header>
    <nav class="navbar nav-bg navbar-expand-md">
        <div class="py-1 navbar-brand">
            <a style="text-decoration: none;" routerLink="/">
              <div class="main-logo">ETR</div>
            </a>
        </div>

        <button class="navbar-button mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon w-100 h-100"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav user-select-none">
                
                <div class="nav-item dropdown p-1 rounded text-center mx-1 ">
                  <a class="btn dropdown-toggle transition-1 " role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="fs-4 text-light">Ученики</span>
                  </a>
                
                  <ul class="dropdown-menu dropdown-menu-dark mw-50 mx-auto" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item transition-1"><span class="fs-5">Все</span></a></li>
                    <li><a class="dropdown-item transition-1"><span class="fs-5">Добавить ученика</span></a></li>
                  </ul>
                </div>
                
                <div class="dropdown rounded p-1 text-center">
                  <a class="btn dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="fs-4 text-light">Контесты</span>
                  </a>
                
                  <ul class="dropdown-menu dropdown-menu-dark mw-50 mx-auto" aria-labelledby="dropdownMenuLink">
                    <li><a  routerLink="/contests" class="dropdown-item transition-1"><span class="fs-5">Список Контестов</span></a></li>
                    <li><a class="dropdown-item transition-1"><span class="fs-5">Добавить Контест</span></a></li>
                  </ul>
                </div>
                <div class="nav-item text-center p-1">
                    <a routerLink="/about" class="btn text-decoration-none transition-1">
                        <span class="fs-4 text-light">О проекте</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>