<div class="filter-box">
    <div class="filter-chosen-values-box">
        @for (category of filteredValues; track $index) {
            @if (category.values.size != 0) {
                <div class="chosen-category-box">{{category.name}}: 
                    @for (value of category.values; track $index) {
                        <div class="filter-variable" (click)="deselectValue(category.name, value)">{{value}}<div class="cross"></div></div>
                    }
                </div>
            }
        }
    </div>
    <div class="filter-picker-box">
        @for (category of filterCategories; track $index) {
            @if (category.type === 'picker') {
                <input class="category-collapsible" type="checkbox" id="category-collapsible{{$index}}">
                <label class="category-collapsible" for="category-collapsible{{$index}}">{{category.name}}</label>
                <section class="category-variables">
                    @for (value of category.values; track $index) {
                        <div class="filter-variable" (click)="selectValue(category.name, value)">{{value}}</div>
                    }
                </section>
            }
            @else {
                <input class="category-collapsible" type="checkbox" id="category-collapsible{{$index}}">
                <label class="category-collapsible" for="category-collapsible{{$index}}">{{category.name}}</label>
                <section class="category-variables">
                    <input class="filter-searchbar" name="Table search bar" type="search" (change)="searchTrigger($event)">
                </section>
            }
        }
    </div>
    <div></div>
</div>