.filter-box {
    display: block;
    width: 100%;
    height: fit-content;
    float: none;
    margin: 10px 0 10px 0;
}

.filter-chosen-values {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    min-height: 60px;
    max-height: fit-content;
    float: none;
    margin: 10px 0 10px 0;
    padding: 10px;

    border: 2px solid gainsboro;
    border-radius: 5px;

    background-color: #f8f8f8;
}

.filter-picker {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 100%;
    height: fit-content;
    float: none;
    margin: 10px 0 10px 0;
    padding: 10px;

    border-radius: 5px;

    background-color: #f8f8f8;
}

div.chosen-category-name {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 4px;
    margin: 4px;
    font-size: 18px;
    line-height: 32px;

    border: 1.5px solid #373790;
    border-radius: 10px;
}

div.filter-variable {
    height: 26px;
    padding: 4px;
    margin: 4px;
    float: none;

    text-wrap: nowrap;

    background-color: #00000008;
    border: 1.5px solid gray;
    font-size: 18px;
    line-height: 16px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

    user-select: none;
    cursor: pointer;
}

div.cross {
    position: relative;
    float: right;
    margin-left: 4px;

    width: 16px;
    height: 16px;

    background-color: #ccc;
    border-radius: 8px;
}

div.cross::before,
div.cross::after {
    position: absolute;
    top: calc(50% - 1px / 2); /*px value - height*/
    left: calc((100% - 12px) / 2); /*px value - width*/
    content: '';
    width: 12px;
    height: 1px;
    background-color: black;
}

div.cross::before {
    transform: rotate(45deg);
}

div.cross::after {
    transform: rotate(-45deg);
}

section.category-variables {
    display: none;
    flex-wrap: wrap;
    flex-direction: row;

    background-color: #eee;

    margin: 0 5px 5px 5px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}

input.category-collapsible {
    display: none;
}

label {
    display: block;

    height: 40px;
    line-height: 40px;
    margin: 5px 5px 0 5px;
    padding: 0 10px 0 10px;

    background-color: #ccc;
    font-size: 20px;
    
    user-select: none;
    cursor: pointer;
}

label::after {
    content: "";
    
    margin-top: 15px;
    float: right;
    position: relative;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
}

input[type="checkbox"]:checked + label + section.category-variables {
    display: flex;
}

input[type="checkbox"]:checked + label::after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid black;
    margin-top: 5px;
}

input[type="checkbox"]:checked + label + section.category-variables + div.filter-variable {
    user-select: text;
}