<div class="filter-box">
    <div class="filter-chosen-values">
        @for (category of filteredValues; track $index) {
            @if (category.values.size != 0) {
                <div class="chosen-category-box">{{category.name}}: 
                    @for (value of category.values; track $index) {
                        <div class="filter-variable" (click)="deselectValue(category.name, value)">{{value}}<div class="cross"></div></div>
                    }
                </div>
            }
        }
    </div>
    <div class="filter-picker">
        @for (category of filterCategories; track $index) {
            <input class="category-collapsible" type="checkbox" id="category-collapsible{{$index}}">
            <label class="category-collapsible" for="category-collapsible{{$index}}">{{category.name}}</label>
            <section class="category-variables">
                @for (value of category.values; track $index) {
                    <div class="filter-variable" (click)="selectValue(category.name, value)">{{value}}</div>
                }
            </section>
        }
    </div>
    <div></div>
</div>