<div class="container-lg">
    <h4>Последнее обновление:</h4>
</div>

<div class="container-lg table-w-90 table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Дата</th>
        <th>Что сделано</th>
        <th>Кто работал</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>21.12.2023</td>
        <td>
          <ul>
            <li>Совершили перенос таблиц из раздела ученики, контесты и задачи на отдельный компонент</li>
            <li>Добавили страницу About</li>
            <li>Нажатие на задачу теперь открывает её на codeforces</li>
            <li>На главной странице теперь есть подраздел Последнее обновление</li>
          </ul>
        </td>
        <td>Вадим, Александр, Андрей</td>
      </tr>
      <tr class="last-table-row"></tr>
    </tbody>
  </table>
</div>

<div class="d-flex flex-column m-3">
    <a class="text-decoration-none mb-3 btn btn-primary fs-3 " routerLink="contest/add">Добавить контест</a>
    <a class="text-decoration-none mb-5 btn btn-secondary fs-3" routerLink="students/add">Добавить ученика</a>
</div>