<div class="d-flex flex-wrap align-content-center justify-content-center align-items-center flex-column w-90 m-5">
    <h3>Последнее обновление: {{appComponent.lastUpdate.toDateString()}}</h3>
    <a class="text-decoration-none mb-3 btn btn-primary fs-3 " routerLink="contest/add">Добавить контест</a>
    <a class="text-decoration-none mb-3 btn btn-secondary fs-3" routerLink="students/add">Добавить ученика</a>
    <a class="text-decoration-none mb-3 btn btn-secondary fs-3" routerLink="patch-user-interface">Пропатчить пользователя</a>
</div>