<h1 style="text-align: center;">Теги</h1>
<ul>
    @for (mainTag of tagsList; track $index) {
        <li><div class="tag" (click)="OpenProblemsList(mainTag)">{{FirstToUp(mainTag)}}</div></li>
        <div id="{{mainTag}}" style="display: none; white-space: nowrap;">
            <ul>
                @for (problemList of problemsSortedByTags; track $index) {
                    @for (problem of problemList; track $index) {
                        <li><a [href]="RouterLink(problem)">Name: {{problem.name}} | Tags: </a>
                            @for (problemTag of problem.tags; track $index) {
                                <div class="tag" (click)="ScrollToNeededTag(problemTag)">
                                    {{problemTag}}
                                </div>
                        }</li>
                    }
                }
            </ul>
        </div>
    }
</ul>
<br>