<h1 style="text-align: center;">Теги</h1>
<div class="form-group w-50 mx-auto ">
  <label for="formGroupExampleInput" class="">Введите сложность задачи</label>
  <input type="number" class="form-control w-50 m-2" [(ngModel)]="rating" id="formGroupExampleInput" placeholder="Example input">
  <div type="button" class="btn btn-secondary" (click)="FindWithRating(rating)">найти</div>
</div>

@if (hardBtnIsClicked == true)
{
  <ul>
    @for (mainTag of tagsList; track $index) {
        <li><div class="tag" (click)="OpenProblemsList(mainTag)">{{FirstToUp(mainTag)}}</div></li>
        <div id="{{mainTag}}" style="display: none; white-space: nowrap;">
            <ul>
                @for (problemList of problemsSortedByTags; track $index) {
                    @for (problem of problemList; track $index) {
                        <li><a [href]="RouterLink(problem)">Name: {{problem.name}} | Tags: </a>
                            @for (problemTag of problem.tags; track $index) {
                                <div class="tag" (click)="ScrollToNeededTag(problemTag)">
                                    {{problemTag}}
                                </div>
                        }</li>
                    }
                }
            </ul>
        </div>
    }
</ul>
<br>
}
