ul {
    list-style-type: none;
    cursor: pointer;
}

li {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

li:hover {
    color: #475e93;
    transition-duration: 200ms;    
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #475e93;
    transition-duration: 200ms;
}

div.tag {
    background-color: #00000008;
    border: 1.5px solid gray;
    text-wrap:nowrap;
    font-size: 18px;
    line-height: 16px;
    height: 26px;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    border-radius: 10px;
}