<h1 style="text-align: center;">Теги</h1>
<ul>
    @for (tag of tags; track $index) {
        <li (click)="look(tag)">{{tag}}</li>
        <div id="{{tag}}" style="display: none;">
            <ul>
                @for (problem of problems; track $index) {
                    @if (contains(problem, tag.toLowerCase())) {
                        <li><a [href]="RouterLink(problem)">Name: {{problem.name}} | Tags: 
                        @for (tag of problem.tags; track $index) {
                            <div class="tag">
                                {{tag}}
                            </div>
                        }</a></li>
                    }
                }
            </ul>
        </div>
    }
</ul>
<br>