div.tag {
    background-color: #00000008;
    border: 1.5px solid gray;
    text-wrap:nowrap;
    font-size: 18px;
    line-height: 16px;
    height: 26px;
    padding: 4px;
    margin: 4px;
    float: left;
    border-radius: 10px;
}
.table-container {
    padding-bottom: 25px;
    padding-top: 25px;
}
@media screen and (max-width:1000px) {
    .table-container {
        min-width: 200px;
        max-width: 1000px;
        overflow-x: scroll;
        transform: rotateX(180deg);
        padding-bottom: 0px;
        padding-top: 100px;
    }
}
tr:hover {
    color: #475e93;
    cursor: pointer;
    transition-duration: 200ms;
}
:host ::ng-deep table {
    margin: auto;
    
}
:host ::ng-deep tr:nth-child(even) {
    background-color: #e8e8e8;
}
:host ::ng-deep tr {
    border: 1px solid grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    vertical-align: middle;
}