td.result {
    text-align: center;
}
td.result.bad {
    color: red;
}
td.result.good {
    color: green;
}

.table-container {
    padding-bottom: 100px;
}

@media screen and (max-width:1000px) {
    .table-container {
        min-width: 200px;
        max-width: 1000px;
        overflow-x: scroll;
        transform: rotateX(180deg);
        padding-bottom: 0px;
        padding-top: 100px;
    }
}

div.input-pad {
    width: fit-content;
}