<h1 class="text-center">Students Table</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Организация</th>
        <th>Город</th>
        <th>Класс</th>
    </tr>
    @for (item of users; track $index) {
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.organization}}</td>
            <td>{{item.city}}</td>
            <td>{{item.grade}}</td>
        </tr>
    }
</table>