<h1 class="text-center">Ученики</h1>
<div class="table-w-90 my-3 d-flex flex-wrap">
    <div class="btn btn-primary m-1 text-nowrap" (click)="syncDl()">Синхронизировать с dl/codeforces</div>
    <div class="btn btn-secondary m-1 text-nowrap" (click)="syncCF()">Обновить данные с codeforces</div>
</div>
<div class="table-container table-w-90 ">
    <table-template-new>
        <thead>
            @for (colName of tableData.tableColNames; track $index) {
                <th>
                    {{colName}}
                </th>
            }
        </thead>
        @for (user of users; track $index) {
                <tr>
                    <a href="https://codeforces.com/profile/{{user.handle}}">
                        <td>{{user.id}}</td>
                        <td>{{user.last_name}} {{user.first_name}}</td>
                        <td>{{user.organization}}</td>
                        <td>{{user.city}}</td>
                        <td>{{user.grade}}</td>
                    </a>
                </tr>
        }
    </table-template-new>
</div>