<h1 class="text-center">Students Table</h1>
@if (width < 768) {
    <div class="d-flex contests-container gap-1 flex-wrap justify-content-center">
        @for (user of users; track $index) {
            <div class="border rounded contest-card">
                <h3 class="text-center"><a routerLink="/students/user/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></h3>
                <div>
                    <div>Организация: {{user.organization}}</div>
                    <div>Город: {{user.city}}</div>
                    <div>Класс: {{user.grade}}</div>
                </div>
            </div>
        }
    </div>
}
@else {
    <table>
        <tr>
            <th>
                <button class="table-sort-button" id="sort-by-ID" (click)="sortTable($event)">
                    <div class="table-sort-button-user">ID</div>
                </button>
            </th>
            <th>
                <button class="table-sort-button" id="sort-by-first-name" (click)="sortTable($event)">
                    <div class="table-sort-button-user">Имя</div>
                </button>
            </th>
            <th>
                <button class="table-sort-button" id="sort-by-last-name" (click)="sortTable($event)">
                    <div class="table-sort-button-user">Фамилия</div>
                </button>
            </th>
            <th>
                <button class="table-sort-button" id="sort-by-organization" (click)="sortTable($event)">
                    <div class="table-sort-button-user">Организация</div>
                </button>
            </th>
            <th>
                <button class="table-sort-button" id="sort-by-city" (click)="sortTable($event)">
                    <div class="table-sort-button-user">Город</div>
                </button>
            </th>
            <th>
                <button class="table-sort-button" id="sort-by-grade" (click)="sortTable($event)">
                    <div class="table-sort-button-user">Класс</div>
                </button>
            </th>
        </tr>
        @for (user of users; track $index) {
            <tr>
                <td><a routerLink="/students/table/user/{{user.id}}">{{user.id}}</a></td>
                <td><a routerLink="/students/table/user/{{user.id}}">{{user.first_name}}</a></td>
                <td><a routerLink="/students/table/user/{{user.id}}">{{user.last_name}}</a></td>
                <td><a routerLink="/students/table/user/{{user.id}}">{{user.organization}}</a></td>
                <td><a routerLink="/students/table/user/{{user.id}}">{{user.city}}</a></td>
                <td><a routerLink="/students/table/user/{{user.id}}">{{user.grade}}</a></td>
            </tr>
        }
    </table>
}