<header>
    <ul id=top_menu>
        <a style="text-decoration: none;" routerLink="/"><div class="main-logo">ETR</div></a>
        <li><a>Ученики</a>
        <ul class="inner_menu">
            <li><a routerLink="students/table">Все</a></li>
            <li><a routerLink="students/add">Добавить ученика</a></li>
        </ul>
        </li>
        <li><a>Контесты</a>
        <ul class="inner_menu">
            <li><a routerLink="/contests/table">Список контестов</a></li>
            <li><a routerLink="/contest/add">Добавить контест</a></li>
        </ul>
        </li>
        <li><a>Задачи</a>
        <ul class="inner_menu">
            <li><a routerLink="/problems">Список задач</a></li>
            <li><a routerLink="/problems/tree">Дерево задач</a></li>
        </ul>
        </li>
        <li><a routerLink="/about">О проекте</a></li>
    </ul>
  </header>