.contest-card{
    width: 30%;
}
.contests-container{
    margin: 0px 20px 100px 20px;
    padding-bottom: 50px;
}
@media screen and (max-width: 600px) {
    .contest-card{
        width: 100%;
    }
}

table {
    width: auto;
    margin: 0px 5% 0px 5%
}

td {
    border: 1px solid grey;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

tr:first-child {
    background-color: #333333;
    color: white;
}

tr:nth-child(even) {
    background-color: #dddddd;
}