.contest-card{
    width: 48%;
    background-color: antiquewhite;
}

.contests-row:hover{
    color: grey;
}

.contest-card:hover{
    opacity: 70%;
    cursor: pointer;
}
.contests-container{
    margin: 0px 20px 100px 20px;
    padding-bottom: 50px;
}

.table-container {
    padding-bottom: 100px;
}

@media screen and (max-width:1000px) {
    .table-container {
        min-width: 200px;
        max-width: 1000px;
        overflow-x: scroll;
        transform: rotateX(180deg);
        padding-bottom: 0px;
        padding-top: 100px;
    }
}

.filter-margin{
    width: 90%;
    margin: 10px 5% 10px 5%
}