.contest-card{
    width: 48%;
    background-color: antiquewhite;
}

.contests-row:hover{
    color: grey;
}

.contest-card:hover{
    opacity: 70%;
    cursor: pointer;
}
.contests-container{
    margin: 0px 20px 100px 20px;
    padding-bottom: 50px;
}
@media screen and (max-width: 600px) {
    .contest-card{
        width: 100%;
    }
}