:host ::ng-deep thead {
    background-color: hsl(0, 0%, 13%);
    border: 1px solid hsl(0, 0%, 13%);
    color: white;
    text-align: left;
    height: 40px;
}

:host ::ng-deep thead th {
    font-size: medium;
    padding: 5px;
    padding-right: 20px;
    cursor: pointer;
}

:host ::ng-deep td {
    font-size: medium;
    border: 1px solid grey;
    cursor: pointer;
    padding: 5px;
}

:host ::ng-deep table {
    width: auto;
    margin: auto;
}

@media screen and (max-width:1000px) {
    table{
        transform: rotateX(180deg);
    }
}

:host ::ng-deep tr a {
    all: unset;
    display: contents;
}

:host ::ng-deep tr {
    border: 1px solid grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    vertical-align: middle;
}

:host ::ng-deep tr:hover {
    color: #475e93;
    transition-duration: 200ms;
}

:host ::ng-deep tr:nth-child(even) {
    background-color: #dddddd;
}

tr.table-row {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    vertical-align: middle;
}

tr.table-row:hover {
    color: #475e93;
    transition-duration: 200ms;
}

tr.table-row:nth-child(even) {
    background-color: #dddddd;
}

:host ::ng-deep .sort-start-lower::after {
    content: "";
    position:absolute;
    margin-top: 10px;
    margin-left: 2px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    pointer-events: none;
}
:host ::ng-deep .sort-start-higher::after {
    content: "";
    position:absolute;
    margin-top: 10px;
    margin-left: 2px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid white;
    pointer-events: none;
}