<table>
    <thead>
        @for (tableColName of tableData.tableColNames; track $index) {
            @if (sortDirections[$index] === -1) {
                <th class="sort-start-lower" (click)="sortTable($index)">
                    {{tableColName}}
                </th>
            }
            @else if (sortDirections[$index] === 1) {
                <th class="sort-start-higher" (click)="sortTable($index)">
                    {{tableColName}}
                </th>
            }
            @else {
                <th (click)="sortTable($index)">
                    {{tableColName}}
                </th>
            }
        }
    </thead>
    @for (tableColContent of tableData.tableRows; track $index) {
        <tr>
        @for (tableCellContent of tableColContent.contents; track $index) {
            @if (tableColContent.routerLinks[$index] != null && tableColContent.routerLinks[$index])
            {
                <th routerLink="{{tableColContent.routerLinks[$index]}}">
                    {{tableCellContent}}
                </th>
            }
            @else {
                <th>
                    {{tableCellContent}}
                </th>
            }
        }
        </tr>
    }
    <tr></tr>
</table>