<table>
    <thead>
        @for (tableColName of tableData.tableColNames; track $index) {
            @if (sortDirections[$index] === -1) {
                <th class="sort-start-lower" (click)="sortTable($index)">
                    {{tableColName}}
                </th>
            }
            @else if (sortDirections[$index] === 1) {
                <th class="sort-start-higher" (click)="sortTable($index)">
                    {{tableColName}}
                </th>
            }
            @else {
                <th (click)="sortTable($index)">
                    {{tableColName}}
                </th>
            }
        }
    </thead>
    @for (tableRowContent of tableData.tableRows; let i = $index; track i) {
        @if (tableRowContent.routerLink != null) {
            <tr routerLink="{{tableRowContent.routerLink}}">
        
            @for (tableCellContent of tableRowContent.contents; let j = $index; track j) {
                @if (tableRowContent.routerLink != null && safeHtml[i] != null && safeHtml[i][j] != null) {
                    <td [innerHTML]="safeHtml[i][j]" routerLink="{{tableRowContent.routerLink}}">
                        {{tableCellContent}}
                    </td>
                }
                @else {
                    <td>
                        {{tableCellContent}}
                    </td>
                }
            }
            </tr>
        }
        @else {
            <tr>
                @for (tableCellContent of tableRowContent.contents; let j = $index; track j) {
                    @if (safeHtml[i] != null && safeHtml[i][j] != null) {
                        <td [innerHTML]="safeHtml[i][j]">
                            {{tableCellContent}}
                        </td>
                    }
                    @else {
                        <td>
                            {{tableCellContent}}
                        </td>
                    }
                }
            </tr>
        }
        }
    <tr></tr>
</table>