<div class="card">
    <div class="mb-5">
        <img class="avatar" src="{{user.title_photo}}"/>
        <h3 class="title">{{user.last_name}} {{user.first_name}}</h3>
        <div class="meta-title">
            <div class="meta-title-content">{{user.handle}}</div>
            <div class="meta-title-content">Организация: {{user.organization ? user.organization : "н/д"}}</div>
            <div class="meta-title-content">Класс: {{user.grade ? user.grade : "н/д"}}</div>
            <div class="meta-title-content">Рейтинг: {{user.rating}}</div>
            <div class="meta-title-content">Ранг: {{user.rank}}</div>
            @if (user.max_rank !== user.rank)
            {
                <div class="meta-title-content">Максимальный ранг: {{user.max_rank}}</div>
            }
            <div class="meta-title-content">DL ID: {{user.dl_id ? user.dl_id : "н/д"}}</div>

        </div>
    </div>
</div>